body {
  background-color: #3e416d;
}
a {
  text-align: center;
  background-color: #62d76b;
  border: 5px solid indigo;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
